name: Deno

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v6

      - name: Setup Deno
        uses: denoland/setup-deno@v2

      - name: Audit dependencies
        run: deno audit

      - name: Run linter
        run: deno lint

      - name: Run tests
        run: deno test -A --ignore=tests/integration/
